*{
    padding: 0;
    /*font-size: 14px;*/
}

body{
    margin: 0;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    background-color: #F4F4F4;

}

/*@font-face {*/
    /*font-family: 'iconfont';*/
    /*src: url('./fontstyles/iconfont.eot');*/
    /*src: url('./fontstyles/iconfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('./fontstyles/iconfont.woff2') format('woff2'),*/
    /*url('./fontstyles/iconfont.woff') format('woff'),*/
    /*url('./fontstyles/iconfont.ttf') format('truetype'),*/
    /*url('./fontstyles/iconfont.svg#iconfont') format('svg');*/
/*}*/

@font-face {
    font-family: 'iconfont';
    src: url('./fontstyles/iconfont.eot');
    src: url('./fontstyles/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./fontstyles/iconfont.woff2') format('woff2'),
    url('./fontstyles/iconfont.woff') format('woff'),
    url('./fontstyles/iconfont.ttf') format('truetype'),
    url('./fontstyles/iconfont.svg#iconfont') format('svg');
}

.container {
    margin: 0 auto;
    width: 1190px;
}

.container-full {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
}

div{
    /*border: red 1px solid;*/
    /*margin: 1px;*/

    /*position: absolute;*/
    /*height: 50px;*/
}

li{
    list-style-type: none;
    background-color: white;
}

.dropdownBox{
    display: inline-block;
    position: relative;
}

.hidenitem{
    display: none;
    background-color: white;
    position: absolute;
    padding: 5px;
    width: 90px;
    z-index: 1;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button:hover{
    border: none;
}
