.mainHeaderNfooter{
    background-color: gainsboro;
    /*font-size: 12px;*/
    /*font-family: "Arial";*/
    width: 100%;
    position: relative;
}

.mainHeaderNfooter>a{
    padding: 3px 10px;
    margin: 3px;
    display: inline-block;
}

.color{
    color: #f22e00;
}
.dropdownBox:hover{
    background-color: white;
}
.dropdownBox:hover a{
    background-color: white;
}
.dropdownBox:hover .hidenitem{
    display: block;
    background-color: white;
}

.rightHandSide{
    float: right;

}

